---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const walks = await getCollection("walks");

import Layout from "@components/layouts/Layout.astro";
import { formatWalkDate } from "@lib/functions";
---

<Layout title="HTML Sitemap | Walk Colorado Springs">
	<section id="sitemap">
		<div class="container mx-auto p-8">
			<h1 class="font-heading text-3xl font-semibold">HTML Sitemap</h1>
			<ul class="font-body list-none text-lg">
				<li>
					<a href="/" class="hover:text-sunset-orange-500 walking-transition"> Home </a>
				</li>
				<li>
					<a href="/walks" class="hover:text-sunset-orange-500 walking-transition"> Walks </a>
				</li>
				{
					walks?.map((walk) => (
						<li>
							<a
								href={`/walks/${walk?.data?.walkNumber}/${formatWalkDate(walk?.data?.date, "ISO")}`}
								class="hover:text-sunset-orange-500 walking-transition"
							>
								Walk {walk?.data?.walkNumber} - {formatWalkDate(walk?.data?.date, "readable")}
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</section>
</Layout>
