---
import Layout from "@components/layouts/Layout.astro";
---

<Layout title="Sign Up | Walk Colorado Springs">
    <section id="coming-soon-container">
        <div class="container mx-auto">
            <h1 class="font-heading text-2xl">Sign Up</h1>
            <p class="font-body text-base">Coming soon... maybe.</p>
        </div>
    </section>
</Layout>