---
import Layout from "@components/layouts/Layout.astro";
import SignUp from "./_components/SignUp.astro";
---

<Layout
	title="Sign Up | Walk Colorado Springs"
	description="Sign up for Walk Colorado Springs to learn more, keep updated, and join group walks for your own journey walking our beautiful city."
>
	<section id="coming-soon-container">
		<div class="container mx-auto">
			<SignUp />
		</div>
	</section>
</Layout>
