<footer class="container relative mx-auto px-4 text-gray-700" id="site-footer">
	<div class="py-4 text-sm">
		<div class="-mx-4 flex flex-wrap items-center">
			<div class="w-full px-4 py-2 md:flex-1">
				<p>
					&copy; 2024. All Rights Reserved - <span class="text-sunset-orange-500">Walk Colorado Springs</span>
					- <a href="/sitemap" class="hover:text-sunset-orange-400 walking-transition">Sitemap</a>
				</p>
			</div>
			<div class="hidden w-full px-4 py-2 sm:w-auto">
				<a href="#" class="hover:text-blue-600">Privacy Policy</a> | <a href="#" class="hover:text-blue-600"
					>Terms of Use</a
				>
			</div>
		</div>
	</div>
</footer>
