---
import Layout from "../components/layouts/Layout.astro";
---

<Layout
	title="Welcome to my Headless WordPress site."
	description="This headless WordPress site is styled with TailwindCSS."
	canonical="/"
>
	<section>
		<h1>Welcome to my Headless WordPress site.</h1>
		<p>This headless WordPress site is styled with TailwindCSS.</p>
	</section>
</Layout>

<script>
	console.log("Thank you for visiting my headless WordPress site.");
</script>
