---
import { type Photo } from "@lib/wordPressAPI.types";

interface Props {
	photos: Photo[];
}

import { Image } from "astro:assets";

const { photos } = Astro.props;
---

<div class="blaze-slider">
	<div class="blaze-container">
		<div class="blaze-track-container">
			<div class="blaze-track">
				{
					photos?.map((photo) => (
						<div>
							<Image src={photo?.sourceUrl} alt={photo?.altText} width={1200} height={150} />
						</div>
					))
				}
			</div>
		</div>
	</div>

	<!-- navigation buttons -->
	<!-- <button class="blaze-prev">previous</button>
	<button class="blaze-next">next</button> -->
</div>

<script>
	import BlazeSlider from "blaze-slider";
	import "blaze-slider/dist/blaze.css";
	new BlazeSlider(document.querySelector(".blaze-slider"), {
		all: {
			enableAutoplay: true,
			autoplayInterval: 2000,
			autoplayDirection: "to left",
			transitionDuration: 300,
			slidesToShow: 1,
			loop: true,
			enablePagination: true,
		},
	});

	const paginationLabels = [...document.querySelectorAll(".blaze-pagination > button")];
	paginationLabels.forEach((label) => {
		label.innerHTML = "+";
	});
</script>
